/* 헤더 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
        *{
            font-family: "Noto Sans KR", serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
        }
        
        /* header 스타일 */
        html, body{
            margin: 0;
            padding: 0;
        }
        header{
            width: 100%;
            min-width: 1200px;
            height: 165px;
            border-top: 5px solid #009223;
            display: block;
            position: relative;
        }
        .logo{
            height: 40px;
            position: absolute;
            top: 35px;
            left: 50%;
            transform: translateX(-50%)
        }
        
        .log_menu{
            position: absolute;
            top: 40px;
            right: 15%;
        }
        .log_menu ul{
            padding: 0px;
            margin: 0px;
            height: 30px;
            display: flex;
            list-style: none;
            align-items: center;
        }
        .log_menu a{
            text-decoration: none;
            color: #666;
        }
        .log_menu li{
            margin: 5px;
            font-size: 13px;
            font-weight: bold;
        }
        .log_menu li::marker {
            color: #ddd;
        }
        .signup{
            list-style: inside;
        }

        .main_nav{
            width: 100%;
            height: 60px; /* 영역이 짧아서 히든영역이랑 간격이 있음 충분한 높이 주시면 잘 넘어가요*/
            position: absolute;
            top: 65%;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;  
        }
        .bg {
            top: 100%;
            transform: translateY(-4px);
            position: absolute;
            width: 100%;
            height: 0;
            background-color: white;
            border-top: 0.5px solid #ddd;
            z-index: 995;
        }
        .main_nav ul{
            margin: 0px;
            padding: 0px;
            list-style: none;
        }
        .main_nav ul:hover{
            cursor: pointer
        }
        .nav_wrap{
            width: 100%;
            height: 230px;
            position: absolute;
            top: 65%;
        }
        .nav_item{
            float: left;
            width: 165px;
            font-size: 18px;
            font-weight: bold;
            position: relative;
        }
        .nav_item:hover{
            color: #009223;
        }
        .hidden_menu{
            overflow: hidden;  /* 영역 넘어가면 안보이게 하기*/
            width: 100%;
            height: 0; /* 평소에는 높이 0으로 둬서 안보이게 하기*/
            position: absolute;
            left: 0px;
            top: -10px;
            transform: translateY(50px);

            z-index: 999;
        }
        .hidden_menu li{
            margin: 15px 0 15px 0;
            font-size: 15px;
            color: #666;
            letter-spacing: -1px;
        }
        .hidden_menu li:nth-child(1){
            margin-top: 20px;
        }
        .hidden_menu li:hover{
            color:#009223;
            text-decoration: underline;
        }
        .main_nav:hover .hidden_menu, .main_nav:hover .bg {
            height: 260px;
            /* 마우스를 갖다 대면 높이 생기게 하기 */
            transition: 0.5s;
            /* 천천히 나오게 하는 효과*/
        }
        .main_nav:hover .bg{
            border-bottom: 0.5px solid #ddd;
        }
/* 헤더 끝 */

/* 푸터 */
/*글꼴*/
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
*{
    font-family: 'font_ns', sans-serif;
}
/*푸터*/
footer{
    background-color: rgb(41, 41, 41);
    color: rgb(102, 102, 102);
    position: relative;
}
/*상단*/
.footer_menu{
    padding: 5px;
    border-bottom: 1px solid #3b3b3b;
}
.footer_menu ul{
    list-style: none;
    display: flex;
    font-size: 14px;
}
.footer_menu ul li{
    margin-right: 29px;
}
a{
    text-decoration: none;
    color: inherit;
}
strong{
    font-weight: bold;
    color: #bbbbbb;
}
/*하단*/
.footer_info{
    font-size: 13px;
    display: flex;
    padding: 10px 0px 0px 45px;
}
p{
    padding-right: 5px;
}
span{
    font-weight: bold;
}
.copyright{
    font-size: 13px;
    margin-top: -10px;
    padding: 5px 0px 25px 45px;
}
/*sns*/
.instagram{
    width: 50px;
    height: 50px;
    background-image: url("../image/instagram.png");
    position: absolute;
    right: 100px;
    bottom: 20px;
}
.instagram:hover{
    background-image: url("../image/instagram_hover.png");
}
.facebook{
    width: 50px;
    height: 50px;
    background-image: url("../image/facebook.png");
    position: absolute;
    right: 35px;
    bottom: 20px;
}
.facebook:hover{
    background-image: url("../image/facebook_hover.png");
}
/* 푸터 끝 */

.ing_wrap{
    width: 100%;
    /* border: 1px solid black; */
    /* height: 5000px; */
    background-color: #e9ecef;
}
.ing_header{
    width: 100%;
    height: 400px;
    /* border: 1px solid black; */
    background-color: #07a5e6;
    position: relative;
    display: flex;
    /* overflow: hidden; */
}
.ing_nav{
    width: 100%;
    height: 65px;
    border: 1px solid #97bde0;
    display: flex;
    gap: 20px;
    position: absolute;
    /* padding-top: ; */
    align-items: center;
    justify-content: center;
    margin: 0;
    z-index: 5;
}
.ing_nav li{
    color: white;
    font-weight: 400;
    font-family: "Noto Sans KR", serif;
       
}
li{
    list-style: none;
}
.ing_main_theme{
    width: 100%;
    position: absolute;
    top: 30%;
    text-align: center;
    z-index: 4;
}
.ing_main_theme_title{
    color: white;
    font-family: "Noto Sans", serif;
    font-size: 90px;
    font-weight: bold;
    margin: 0;
}
.ing_main_theme_des{
    color: white;
    font-family: "Noto Sans KR", serif;
    font-weight: 400;
}
.ing_main_theme_img1{
    position: absolute;
    left: 70%;
    

}
.ing_main_theme_img2{
    position: absolute;
    left: 14%;
    top: 45%;
}
.ing_main_theme_img3{
    position: absolute;
    left: 6%;
    top: 15%;
}
.ing_body_nav{
    width: 75%;
    background-color: white;
    /* border: 1px solid black; */
    height: 70px;
    margin: 0 auto;
    position: absolute;
    top: 90%;
    left: 12%;

}
.ing_main_theme_img_box{
    overflow: hidden;
    width: 100%;
    height: 400px;
    /* border: 1px solid red; */
}
.ing_body_nav ul {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: gray;
    font-family: "Noto Sans KR", serif;
}
.ing_body_nav ul li:hover{
    cursor: pointer;
}
.ing_body_nav_ybar{
    color: lightgray;
}

.ing_body_nav_bar{
    content: '';
    position: absolute;
    left: 46.8%;
    top: 45%;
    width: 1px;
    height: 15px;
    background-color: #dddddd;

}
.ing_body_nav_bar2{
    content: '';
    position: absolute;
    left: 52%;
    top: 45%;
    width: 1px;
    height: 15px;
    background-color: #dddddd;

}
.ing_body_nav_bar1{
    content: '';
    position: absolute;
    left: 57.2%;
    top: 45%;
    width: 1px;
    height: 15px;
    background-color: #dddddd;

}
.ing_body_nav_bar3{
    content: '';
    position: absolute;
    left: 62%;
    top: 45%;
    width: 1px;
    height: 15px;
    background-color: #dddddd;

}
.ing_body_list{
    width: 75%; /*1120px*/
    /* border: 1px solid black; */
    margin-top: 10%;
    margin-left: 12%;
    /* height: 3300px; */
}
.ing_body_list_box{
    display: flex;
    flex-wrap: wrap;
    
    width: 100%;
    /* border: 1px solid black; */
    margin: 15px 0 0 0;
    padding:0;
    gap: 2%;
    

    
}
.ing_body_list_box li{
    /* border: 1px solid black; */
    margin-top: 15px;
    padding: 0;
    width: 32%;
    height: 270px;
    position: relative;
    background-color: white;
    /* flex: 1;
    min-width: 32%; */
    animation: onList 1s ease;
    


}

.bread_img{
    width: 80%;
    height: 200px;
    position: absolute;
    left: 10%;
    top: 5px;
    margin: 0;
    padding: 0;
    
}
.bread_text{
    /* border: 1px solid black; */
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}
.bread_text p{
    margin: 0;
}
.bread_text_title{
    font-family: "Noto Sans KR", serif;
    font-weight: bold;
    font-size: 21px;

}
.bread_text_eng{
    font-family: "Noto Sans KR", serif;
    font-weight: 400;
    color: gray;
   
}
.bread_text_cal{
    color: #edae5f;
    font-weight: bold;
    font-family: "Noto Sans KR", serif;
    padding: 5px;
    
}
.ing_text_btn{
    text-align: center;
    margin-top: 15px;
    /* border: 1px solid black; */
    width: 150px;
    /* height: 40px; */
    margin-top: 30px;
    margin-left: 43.5%;
    border-radius: 30px;
    padding: 13px;
    background-color: #008200;
    color: white;
    font-family: "Noto Sans KR",serif;
    font-weight: bold;
    font-size: 19px;
    
}

.ing_body_list_box li {

    overflow: hidden;  
    cursor: pointer; 
}

.bread_overlay_title{
    color: white;
    font-family: "Noto Sans Kr",serif;
    font-size: 30px;
    font-weight: bold;
    padding: 1px;
    margin-top: 10px;
    /* border: 1px solid black; */
    

}



.bread_overlay_description{
    font-family: "Noto Sans Kr",serif;
    font-size: 12px;
    /* margin-top: 3px; */
    padding: 1px;
    color: #c5e698;
   
   
   
   
    
    

}


.bread_overlay_eng{
    font-family: "Noto Sans Kr",serif;
    font-size: 16px;
    padding: 0;
    margin-bottom: 0px;
   
    /* transform: translate(-50%, -50%); */
    
    color: #c5e698;

}



.bread_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 128, 0, 0.9); 
    opacity: 0; 
    transition: opacity 0.3s ease; 
    /* display: flex;
    justify-content: center;
    align-items: center; */
    color: white;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}


.ing_body_list_box li:hover .bread_overlay {
    opacity: 1;
}

@keyframes breadOverlayDescription{
    0% {transform: translateY(300%);}
    100%{transform: translateY(0%);}
}

.ing_body_list_box li:hover .bread_overlay .bread_overlay_title{
    animation: breadOverlayDescription 0.3s ease;
}
.ing_body_list_box li:hover .bread_overlay .bread_overlay_eng{
    animation: breadOverlayDescription 0.3s ease;
}
.ing_body_list_box li:hover .bread_overlay .bread_overlay_description{
    animation: breadOverlayDescription 0.5s ease;
}


.ing_body_list_box li:hover .bread_img,
.ing_body_list_box li:hover .bread_text {
    opacity: 0;
    transition: opacity 0.3s ease;
}
@keyframes onList{
    0% {opacity: 1;}
    1% {opacity: 0;}
    100% {opacity: 1;};
}


.sub_header {
    width: 100%;
    height: 60px;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 990;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.sub_header.sticky {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.sub_header .sub_logo {
    position: absolute;
    left: 50px;
    height: 100%;
    display: flex;
    align-items: center;
}

.sub_header .sub_logo img {
    height: 40px;
    width: auto;
}

.sub_header ul {
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sub_header ul li {
    position: relative;
    margin: 0;
}

.sub_header ul li a {
    text-decoration: none;
    color: #666;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.sub_header ul li a:hover {
    color: #009223;
}

.sub_header .underline {
    position: absolute;
    bottom: -19px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #009223;
}

.sub_header .top {
    position: absolute;
    right: 50px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: #009223;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.sub_header .top:hover {
    background: #00791E;
}

.sub_header .top::after {
    content: "↑";
    color: white;
    font-size: 20px;
}

/* 퀵매뉴 수정 */
.quick_menu{
    background-color: #fff;
    padding: 40px 0px 37px 0px;
    font-weight: bold;
    margin-top: 15px;
}
.quick_menu ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
.quick_menu li{
    padding: 0px 80px;
}
a{
    text-decoration: none;
    position: relative;
}
.qm_img{
    background: url("../image/quickmenu.png");
    width: 70px;
    height: 70px;
    position: absolute;
    left: -90px;
    top: -10px;
}
.qm_name{
    color: #292929;
    font-size: 18px;
    margin-right: 60px;
    padding-bottom: 5px;
}
.qm_info{
    color: #999999;
    font-size: 13px;
}
.qm1 .qm_img{
   background-position: 0px 0px;
}
.qm2 .qm_img{
    background-position: -70px 0px;
}
.qm3 .qm_img{
    background-position: -140px 0px;
}
.qm4 .qm_img{
    background-position: -210px 0px;
}